.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-right: 10%;
    padding-left: 10%;
    background-color: grey;

}

.left-split {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.links ul {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    list-style: none;
}